<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="ip"></ion-input>
  <ion-button (click)="peticion()">Prueba</ion-button>
<app-noticias [noticias]="noticias"></app-noticias>

<ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
